{% load i18n admin_urls %}
<nav aria-label="Breadcrumbs">
  <div class="breadcrumb breadcrumbs text-light">
    <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'admin:index' %}">Home</a></li>
    <li class="breadcrumb-item">
      <a class="text-decoration-none" 
        href="{% url 'admin:app_list' app_label=app_label%}"
        >{{app_label|title}}</a
      >
    </li>
    <li class="breadcrumb-item">
      <a class="text-decoration-none"
        href="{% url opts|admin_urlname:'changelist' %}">{{model_name|title}}</a
      >
    </li>
    <li class="breadcrumb-item text-info" aria-current="page">{{action|title}}</li>
  </div>
</nav>
