{% extends 'admin/bulk_io.html' %}
{% load i18n admin_urls static admin_list %}

{% block title %}Bulk IO{%endblock%}

{% block content %}
<div class="container">
    {{block.super}}
    {% block messages %}
    <div class="card mb-3">
        <h3 class="card-header">Bulk IO Export</h3>
        <div class="card-body">
            <p class="card-text">
                This page allows you to export your data in various formats. Please select your desired format and click
                the button below to initiate the export process. The export may take some time depending on the size of
                your dataset.
            </p>
        </div>
    </div>
    {% endblock messages %}
    {% include 'django_admin_bulk_io/context_data_bulk_io.html' %}
</div>
{% endblock %}