{%load render_model_fields bulk_io_urls_list %}
{% if form %}
{% include 'django_admin_bulk_io/export_filters_form.html' with form=form %}
{%endif%}
{%if object_list %}
<form method="POST" onsubmit="bulkExportSubmit(event,`{% bulk_io_url app_label model_name '%s_%s_bulk_export' %}`)">
    <table class="table table-hover">
        <thead>
            <tr>
            <th><input type="checkbox" class="form-check-input" name="select-all"></th>
            {% for field in model_fields %}
            <th scope="col">{{field|title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <th>
                <input type="checkbox" class="form-check-input" name="instance" value="{{obj.id}}">
            </th>
            {% for field in model_fields %}
            <td>{% render_model_fields obj field %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex flex-column gap-2">
    <small class="text-muted text-start text-capitalize">please select all the items you want to export</small>
    <button type="submit" class="btn btn-primary col-12">Export Data</button>
</div>
</form>
{% else %}
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Not Found!</h4>
    <p>No objects found. Please refine your search criteria.</p>
</div>
{% endif %}